.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #212121;
  padding: 1rem 3rem;
  border-radius: 5px;
  border: 1px solid #FEFEFE;
  min-width: 400px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}